/* 기존 애니메이션 페이지 스타일 */
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/ani-bg.jpg');
    overflow: hidden;
    user-select: none;
}

#introVideo {
    width: 100vw;
    /* 화면 전체 너비 */
    height: 100vh;
    /* 화면 전체 높이 */
    object-fit: cover;
    /* 화면에 꽉 차게 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    /* 가장 위에 위치 */
    background-color: black;
    /* 비디오가 로드되지 않을 때의 배경 */
}

#introVideo.fade-out {
    animation: fadeOut 2s forwards;
    /* 2초 동안 서서히 사라지기 */
}

.animation-container {
    text-align: center;
    font-family: "Single Day", cursive;
    position: fixed;
    /* 고정 위치 */
    top: 50%;
    /* 화면의 세로 중앙 */
    left: 50%;
    /* 화면의 가로 중앙 */
    transform: translate(-50%, -50%);
    /* 완벽한 중앙 정렬 */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 세로 중앙 정렬 */
    align-items: center;
    /* 가로 중앙 정렬 */
}

.text {
    font-family: 'American Captain Condensed Light', sans-serif;
    font-weight: 400;
    font-size: 12vw;
    white-space: pre-wrap; /* 공백과 줄바꿈 유지 */
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    /* 연한 색상 */
}

.text span {
    display: inline-block;
    /* 각 글자가 개별적으로 애니메이션될 수 있도록 설정 */
    opacity: 0;
    animation: popIn 0s forwards;
    /* 각 글자에 대해 애니메이션 설정 */
    animation-fill-mode: forwards;
}

/* 청첩장 페이지 스타일 */
.invitation-content {
    display: none;
    text-align: center;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    opacity: 0;
    background-color: #ffffff;
    /* 흰색 배경 설정 */
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    animation: fadeInContent 2s forwards;
}

.image-container {
    width: 100%;
    height: 70%; /* 화면의 일정 비율 차지 */
    position: relative;
    overflow: hidden; /* 이미지가 넘치지 않도록 */
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 찌그러짐 최소화 */
}

.image-container::before,
.image-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    /* 그라데이션 높이 */
    left: 0;
    pointer-events: none;
    /* 클릭 이벤트 방지 */
    z-index: 1;
}

.image-container::before {
    top: 0;
    /* 사진 위쪽 그라데이션 */
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
}

.image-container::after {
    bottom: 0;
    /* 사진 아래쪽 그라데이션 */
    background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

/* 물결 */
.waves use.u-1 {
    animation: waveMove1 12s linear infinite;
}

.waves use.u-2 {
    animation: waveMove2 15s linear infinite;
}

.waves use.u-3 {
    animation: waveMove3 18s linear infinite;
}

.waves use.u-4 {
    animation: waveMove1 20s linear infinite;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    /* 높이를 조정 */
    left: 0;
    z-index: 1;
    /* 이미지 위에 표시되도록 */
}

.wave.top {
    top: -60px;
    /* 이미지 위쪽 */
    transform: scaleY(-1);
    /* 뒤집기 */
}

.wave.bottom {
    bottom: -60px;
    /* 이미지 아래쪽 */
}

/* 최상단 날짜 */
.date-title {
    font-family: 'Bradley Hand', sans-serif;
    margin-top: 20vw;
    font-size: 7vw;
    font-weight: 400;
    font-style: normal;
}

.day-title {
    font-family: 'Bradley Hand', sans-serif;
    margin-bottom: 20px;
    font-size: 5vw;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-style: normal;
}

.names {
    margin: 0px 0;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-size: 4.5vw;
}

.names span {
    font-size: 6vw;
}

.details {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-size: 4vw;
    color: rgba(0, 0, 0, 0.7);
}

/* 명언 */
.wise-content {
    padding: 0;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    margin-top: 30vw;
    line-height: 1.6;
}

.wise-content h2 {
    margin-bottom: 4vw;
    font-size: 6vw;
    letter-spacing: 0.7vw;
    color: rgba(145, 170, 145);
}

.wise-content p {
    margin-bottom: -20px;
    /* 단락 간 간격 */
    font-size: 4vw;
    color: rgb(33, 33, 33)
}

.wise-content .acc {
    font-size: 4.5vw;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-weight: 600;
    /* color: rgb(23, 23, 23) */
}

/* 가족 이름 */
.family-container {
    text-align: center;
    /* 중앙 정렬 */
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    margin-top: 30px;
    /* 위쪽 간격 */
}

.parents {
    font-size: 4.5vw;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    color: rgb(33, 33, 33);
}

.connect {
    font-size: 3vw;
    color: rgb(77, 77, 77);
}

.groom,
.bride {
    font-size: 4.5vw;
    font-weight: bold;
    color: rgb(33, 33, 33);
}

/* 달력 */
.calendar-container {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    text-align: center;
    /* 중앙 정렬 */
    margin-top: 30vw;
    /* 위쪽 간격 */
}

.calendar-container .title {
    font-family: 'American Captain Condensed', sans-serif;
    margin-top: 0px;
    margin-bottom: 4vw;
    font-size: 6vw;
    letter-spacing: 0.7vw;
    color: rgba(145, 170, 145);
}

.calendar-container .date {
    margin-top: 0px;
    margin-bottom: 6vw;
    font-size: 5vw;
    color: rgb(33, 33, 33);
}

.calendar-container .calendar-grid {
    font-size: 4vw;
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 80%;
    grid-template-columns: repeat(7, 1fr);
    gap: 1vw;
    margin-top: 10px;
    border-top: 1.5px solid #ddd;
    /* 위쪽 경계선 */
    border-bottom: 1.5px solid #ddd;
    /* 아래쪽 경계선 */
    padding: 15px;
}

.calendar-container .day-header {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    color: #666;
    margin-bottom: 1vw;
}

.calendar-container .day {
    text-align: center;
    padding: 2vw;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

.sunday {
    color: hsl(2, 100%, 50%);
    /* 일요일 색상 */
}

.today {
    background-color: #c1d9a8;
    /* 오늘 날짜 배경 */
    color: hsl(2, 70%, 50%);
    font-weight: bold;
}

/* Countdown */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw; /* 항목 간의 간격 */
    font-family: 'Hakgyoansim Badasseugi', sans-serif, Courier, monospace;
    margin-top: 5vw;
}

.countdown-container .countdown-item {
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 가운데 정렬 */
}

.countdown-container .label {
    font-size: 3vw;
    color: #7791a8;
    text-shadow: 0.05em 0.05em 0.1em rgba(136, 110, 87, 0.3);
    font-weight: bold;
    margin-bottom: 0.5vw; /* 라벨과 숫자 사이의 간격 */
}

.countdown-container .number {
    font-size: 6vw;
    font-weight: 900;
    line-height: 1.5em;
    border-radius: 0.25em;
    color: #4c6377; 
}

.countdown-container .separator {
    font-size: 5vw; /* 숫자와 동일한 크기로 설정 */
    font-weight: 900;
    color: #4c6377;
    display: inline-block; /* 인라인 블록으로 변경 */
    vertical-align: middle; /* 숫자와 같은 높이로 정렬 */
    margin: 0 1vw; /* 좌우 여백 설정 */
}    

/* dday */
.dday-container {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    text-align: center;
    color: #3b3b3b;
}

.dday-container .names {
    font-size: 4vw;
}

.dday-container .heart {
    font-size: 5vw;
}

.dday-container .days {
    font-weight: bold;
    color: rgba(145, 170, 145);
}

/* gallery */
.gallery-container {
    font-family: 'American Captain Condensed', sans-serif;
    margin-top: 30vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.gallery-container .title {
    margin-bottom: 5vw;
    font-size: 6vw;
    letter-spacing: 0.7vw;
    color: rgba(145, 170, 145);
    text-align: center; /* 제목 중앙 정렬 */
}

.gallery-container .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 정사각형으로 3열로 배치 */
    gap: 1vw; /* 사진 간의 간격 */
}

.gallery-container .gallery-item {
    width: 100%; /* 셀에 맞게 채움 */
    aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
    object-fit: cover; /* 이미지가 셀 크기에 맞게 잘림 */
    border-radius: 1vw; /* 사진 모서리 둥글게 */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-container .gallery-item:hover {
    transform: scale(1.05); /* 확대 효과 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 살짝 그림자 추가 */
}

.gallery-container .hidden {
    display: none; /* 기본적으로 숨겨진 상태 */
}

.gallery-container .more-button {
    margin-top: 2vw;
    font-size: 4vw;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    color: rgba(145, 170, 145);
    background-color: transparent;
    padding: 0.8vw 2vw;
    border: 0.2vw solid rgba(145, 170, 145);
    border-radius: 3vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.gallery-container .more-button:hover {
    background-color: rgba(145, 170, 145, 0.1);
}

.gallery-container .more-button::before {
    content: '\25BC'; /* 아래 화살표 */
    display: inline-block;
    font-size: 4vw;
    color: rgba(145, 170, 145);
    position: relative;
    margin-right: 0.5vw;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.8vw);
    }
}

/* modal */
.swiper-modal {
    display: none; /* Flexbox를 사용하여 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 1000;
}


.swiper {
    width: 100%;
    height: 100%; /* 부모 컨테이너가 전체 높이를 차지하도록 설정 */
}

.swiper-wrapper {
    display: flex;
    height: 100%; /* 부모 높이와 동일하게 설정 */
}

.swiper-slide {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center;
}

.swiper-slide img {
    margin-top: 100px;
    max-width: 100vw;
    object-fit: contain;
    box-shadow:0 0 5px #555;
}

.close-swiper-modal {
    position: absolute;
    top: 5vw;
    right: 5vw;
    z-index: 20; /* 충분히 높은 z-index 설정 */
    background: transparent;
    color: white;
    text-shadow: 0 0 5px #555;
    font-size: 5vw;
    border: none;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 기본 텍스트 그림자 */
}


/* 내비게이션 버튼 중앙 정렬 및 색상 변경 */
.swiper-button-next,
.swiper-button-prev {
    color: white !important; /* 버튼 색상 흰색으로 변경 */
    position: absolute;
    top: 50%; /* 세로 중앙 */
    transform: translateY(-50%) scale(0.7);
    z-index: 10;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 기본 텍스트 그림자 */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1; /* 호버 시 강조 */
}

/* 페이지네이션 위치 조정 */
.swiper-pagination {
    bottom: 10vh !important;
}

/* LOCATION */
.location-container {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    margin-top: 40vw;
    text-align: left;
}

/* LOCATION 타이틀 */
.location-container .title {
    font-family: 'American Captain Condensed', sans-serif; /* calendar-container title과 동일 */
    margin-top: 0px;
    margin-bottom: 4vw;
    font-size: 6vw; /* 크기 조정 */
    letter-spacing: 0.7vw;
    color: rgba(145, 170, 145);
    text-align: center; /* 중앙 정렬 */
}

/* LOCATION 전체 내용 스타일 */
.location-container .address {
    font-size: 4vw;
    line-height: 1.6;
    color: rgb(33, 33, 33);
    text-align: center; /* 내용 중앙 정렬 */
    margin-bottom: 2vw;
}

/* section-title 스타일 */
.location-container .section-title {
    font-family: 'Hakgyoansim Badasseugi B', sans-serif; /* wise-content와 같은 폰트 */
    font-size: 5vw; /* wise-content보다 크기 더 큼 */
    color: rgba(77, 77, 77, 0.9); /* 색상 약간 어둡게 */
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

/* 주소 복사 버튼 스타일 */
.location-container .copy-address-button {
    font-size: 4vw;
    background-color: rgba(145, 170, 145, 0.1);
    border: 0.2vw solid rgba(145, 170, 145);
    color: rgba(145, 170, 145);
    padding: 1vw 3vw;
    border-radius: 3vw;
    cursor: pointer;
    width: 50vw;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 2vw auto; /* 가운데 정렬 */
    margin-bottom: 5vw;
}

.location-container .copy-address-button:hover {
    background-color: rgba(145, 170, 145, 0.2);
}

/* 지도 컨테이너 스타일 */
.map-container {
    width: 100vw;
    height: 60vw;
    margin-bottom: 10vw;
}

.transport-section {
    margin-left : 10vw;
    margin-right : 10vw;
    margin-bottom: 10vw;
}

.info-header {
    display: flex;
    align-items: center;
    gap: 10px; /* 아이콘과 제목 사이의 간격 */
    padding-left: 1vw;
}

.transport-section .icon {
    width: 10vw;
    height: 10vw;
}

.transport-section .icon2 {
    width: 3vw;
    height: 3vw;
}

.location-container .content {
    font-size: 4vw;
    line-height: 1.6;
    color: rgb(33, 33, 33);
    padding-left: 1vw;
}

/* 어플 실행 버튼 스타일 */
.location-container .app-buttons {
    display: flex;
    justify-content: center;
    gap: 3vw; /* 버튼 사이 간격 */
    margin-bottom: 2vw;
}

.location-container .app-button {
    font-family: 'Hakgyoansim Badasseugi B', sans-serif;
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 3vw;
    padding: 2vw 2vw;
    background-color: rgba(145, 170, 145, 0.1);
    border: 1px solid rgba(145, 170, 145);
    color: rgba(145, 170, 145);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 30vw;
    text-decoration: none;
}

.location-container .app-button img {
    width: 5vw;
    height: 5vw;
}

.location-container .app-button:hover {
    background-color: rgba(145, 170, 145, 0.2);
}

/* 약도 이미지 버튼 스타일 */
.location-container .map-image-button {
    font-size: 14px;
    padding: 10px 15px;
    background-color: rgba(145, 170, 145, 0.1);
    border: 1px solid rgba(145, 170, 145);
    color: rgba(145, 170, 145);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    margin: 10px auto;
    width: 80vw;
}

.location-container .map-image-button:hover {
    background-color: rgba(145, 170, 145, 0.2);
}

/* 구분선 스타일 */
.location-container .separator {
    height: 1px;
    background-color: #ddd; /* 연한 회색 */
    margin-bottom: 2vw;
    margin-top: 1vw;
}

/* Dining Guide Container */
.dining-container {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    text-align: center;
    margin-top: 20vw;
    padding: 4vw;
}

/* Title */
.dining-container .title {
    font-family: 'American Captain Condensed', sans-serif;
    font-size: 6vw;
    margin-bottom: 4vw;
    letter-spacing: 0.7vw;
    color: rgba(145, 170, 145);
    text-align: center;
}

.dining-container .content {
    font-size: 4vw;
    line-height: 1.8;
    color: rgb(33, 33, 33);
    text-align: center;
    background-color: rgba(245, 245, 245, 0.8); /* 연한 배경 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 살짝 입체감 추가 */
    border-radius: 2vw; /* 둥근 테두리 */
    position: relative; /* 타이틀의 위치를 기준으로 조정 */
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin: 0;
}

/* 강조 텍스트 */
.dining-container .content strong {
    font-weight: bold;
    color: rgba(228, 146, 146, 0.9); /* 강조 색상 */
}

/* 음식사진 */
.foodimage-container {
    width: 100%;
    height: 70%; /* 화면의 일정 비율 차지 */
    position: relative;
    overflow: hidden; /* 이미지가 넘치지 않도록 */
}

.foodimage-container .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 찌그러짐 최소화 */
    border-radius: 5%;
}

.foodimage-container::before,
.foodimage-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    /* 그라데이션 높이 */
    left: 0;
    pointer-events: none;
    /* 클릭 이벤트 방지 */
    z-index: 1;
}

.foodimage-container::before {
    top: 0;
    /* 사진 위쪽 그라데이션 */
    background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
}

.foodimage-container::after {
    bottom: 0;
    /* 사진 아래쪽 그라데이션 */
    background: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}

/* ACCOUNT */
.account-container {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    text-align: center;
    margin-top: 20vw;
}

.account-container .title {
    font-family: 'American Captain Condensed', sans-serif;
    font-size: 6vw;
    margin-bottom: 4vw;
    letter-spacing: 0.7vw;
    color: rgba(145, 170, 145);
    text-align: center;
}

/* Account section styles */
.account-container .account-section {
    background-color: rgba(245, 245, 245, 0.8); /* 둥근 네모 배경 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 살짝 입체감 추가 */
    border-radius: 1vw;
    padding: 4vw;
    margin-bottom: 4vw;
}

.account-container .account-section .section-title {
    font-family: 'Hakgyoansim Badasseugi B', sans-serif;
    font-size: 5vw;
    color: rgba(77, 77, 77, 0.9);
    margin-bottom: 2vw;
}

/* Account item styles */
.account-container .account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
    padding: 1vw 0;
}

.account-container .account-item p {
    font-size: 4vw;
    margin: 0;
    color: rgb(33, 33, 33);
    display: flex;
    gap: 10px; 
    width: 50%; /* 전체 너비 사용 */
    justify-content: center; /* 양쪽 정렬 */
}

.account-container .account-item p:first-child {
    width: 30%; /* 직책 부분 고정 너비 설정 */
    justify-content: space-between; /* 양쪽 정렬 */
}

.account-container .account-item strong {
    margin-left: 1vw; /* 이름과 직책 사이 간격 */
}

.account-container .account-item p:nth-child(2) {
    width: 50%; /* 계좌번호 부분 고정 너비 설정 */
    text-align: left;
}

.account-container .account-item strong {
    font-family: 'Hakgyoansim Badasseugi B', sans-serif;
}

/* 복사 버튼 스타일 */
.account-container .copy-account-button {
    font-size: 3.5vw;
    background-color: rgba(145, 170, 145, 0.1);
    border: 0.2vw solid rgba(145, 170, 145);
    color: rgba(145, 170, 145);
    padding: 1vw 2vw;
    border-radius: 3vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.account-container .copy-account-button:hover {
    background-color: rgba(145, 170, 145, 0.2);
}

/* Separator */
.account-container .separator {
    height: 1px;
    background-color: #ddd;
    margin: 2vw 0;
}

/* Guestbook Container */
.guestbook-container {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    text-align: center;
    margin-top: 20vw;
    padding: 4vw;
    background-color: rgba(245, 245, 245, 0.8); /* 연한 배경 */
    border-radius: 2vw;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 살짝 입체감 추가 */
}

/* Title */
.guestbook-container .title {
    font-family: 'Hakgyoansim Badasseugi B', sans-serif;
    font-size: 5.5vw;
    letter-spacing: 0.5vw;
    color: rgba(145, 170, 145);
    margin-bottom: 4vw;
}

/* Guestbook Entries */
/* 방명록 항목 스타일 */
.guestbook-entry {
    background-color: #f9f9f9; /* 더 연한 배경색 */
    margin-bottom: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* 더 약한 그림자 */
}

/* 항목 제목 (수정 버튼 추가용) */
.guestbook-entry .entry-header {
    font-weight: bold;
    font-size: 4vw;
    color: #474747; /* 더 연한 텍스트 색상 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #ddd; /* 이름 아래 선 */
}

/* 항목 메시지 */
.guestbook-entry .entry-message {
    font-size: 4.5vw;
    color: #4c4c4c; /* 연한 텍스트 색상 */
    line-height: 1.6;
    margin-bottom: 1vw;
}

/* 수정 및 삭제 버튼 */
.guestbook-entry .entry-buttons {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 정렬 */
    gap: 1vw;
}

.guestbook-entry .entry-buttons button {
    font-size: 2.5vw;
    padding: 0.5vw 2vw;
    border: 0.1vw solid rgba(208, 230, 208, 0.5); /* 더 연한 테두리 */
    border-radius: 2vw;
    background-color: rgba(198, 224, 198, 0.05); /* 더 연한 배경 */
    color: rgba(162, 187, 162, 0.8);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.guestbook-entry .entry-buttons button:hover {
    background-color: rgba(145, 170, 145, 0.1); /* hover 시 조금 더 강조 */
}

/* 모달 입력 스타일 */
.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 1.5vw;
    margin-top: 1vw;
    font-size: 3.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 모달 버튼 */
.modal-content .submit-button {
    font-size: 4vw;
    background-color: rgba(145, 170, 145, 0.8);
    border-radius: 5px;
    margin-top: 1vw;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content .submit-button:hover {
    background-color: rgba(145, 170, 145, 1);
}


/* Add Message Button */
.add-message-button {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-size: 4vw;
    background-color: rgba(145, 170, 145, 0.1);
    border: 0.2vw solid rgba(145, 170, 145);
    color: rgba(145, 170, 145);
    padding: 1vw 4vw;
    border-radius: 3vw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5vw;
    width: 70vw;
}

.add-message-button:hover {
    background-color: rgba(145, 170, 145, 0.2);
}

/* Modal */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 반투명 배경 */
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
}

/* Modal Title */
.modal-content h2 {
    margin-bottom: 15px;
    font-family: 'Hakgyoansim Badasseugi B', sans-serif;
    font-size: 5vw;
    color: rgba(77, 77, 77, 0.9);
}

/* Form Labels */
.modal-content label {
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-size: 4vw;
    display: block;
    margin-top: 10px;
    text-align: left;
    color: rgba(77, 77, 77, 0.9);
}

/* Form Inputs */
.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 4vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Submit Button */
.modal-content .submit-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgba(145, 170, 145, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Hakgyoansim Badasseugi', sans-serif;
    font-size: 4vw;
    transition: background-color 0.3s;
}

.modal-content .submit-button:hover {
    background-color: rgba(145, 170, 145, 1);
}

/* 모달 닫기 버튼 */
.modal-content .close-button {
    position: absolute;
    top: 2vw; /* modal-content 내부 상단 간격 */
    right: 3vw; /* modal-content 내부 우측 간격 */
    font-size: 10vw; /* 크기 키움 */
    color: #aaa; /* 연한 회색 */
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: color 0.3s ease;
}

.modal-content .close-button:hover {
    color: #555; /* hover 시 색상 변경 */
}


/* Footer */
.footer-container {
    background-color: rgba(126, 134, 126, 0.2); /* 연한 배경 */
    padding: 4vw;
    text-align: center;
    border-radius: 1vw;
    margin-top: 3vw;
    max-width: 100%; /* 더 넓은 영역 */
}

.share-button {
    font-family: 'Hakgyoansim Badasseugi B', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; /* 아이콘과 텍스트가 버튼 안에서 가운데 정렬 */
    gap: 2vw;
    font-size: 4vw;
    color: rgba(145, 170, 145);
    background-color: transparent;
    border: none; /* 버튼의 보더 제거 */
    outline: none; /* 포커스 보더 제거 */
    cursor: pointer;
    transition: color 0.3s;
    width: 100%; /* 필요에 따라 버튼의 너비 조절 */
}

.share-buttons {
    display: flex;
    margin-left: -2vw;
    flex-direction: column; /* 세로 방향으로 배치 */
    justify-content: center;
    align-items: center; /* 가운데 정렬 유지 */
    gap: 3vw; /* 버튼 사이의 간격 */
    margin-bottom: 10vw;
}

.share-button svg {
    fill: rgba(145, 170, 145);
    width: 1.5em;
    height: 1.5em;
}

.copyright {
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-size: 1.2vw;
    color: rgba(145, 170, 145, 0.8); /* 연한 텍스트 */
    margin-top: 2vw;
    width: 100%;
}

.copyright .name {
    font-weight: bold;
    color: rgba(145, 170, 145); /* 조금 더 진한 텍스트 */
}

/* toast */
#toast {
    visibility: hidden; /* 기본적으로 숨김 */
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}


/* Font */
@font-face {
    font-family: 'American Captain Condensed Light';
    src: url('font/American Captain Font/american-typewriter-condensed-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'American Captain Condensed';
    src: url('font/American Captain Font/american-typewriter-condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bradley Hand';
    src: url('font/bradley-hand/BradleyHandITCTT-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hakgyoansim Badasseugi';
    src: url('font/Hakgyoansim Badasseugi/Hakgyoansim Badasseugi OTF L.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hakgyoansim Badasseugi B';
    src: url('font/Hakgyoansim Badasseugi/Hakgyoansim Badasseugi OTF B.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 애니메이션 */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

@keyframes waveMove1 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes waveMove2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes waveMove3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-75%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



